@media (min-width: 840px) {
    .detail-page {
        display: flex;
    }

    .detail-page figure {
        position: sticky;
        top: 1px;
    }

    .detail-page figure img {
        border: 1px solid white;
        border-radius: 10px;
    }

    .detail-page main {
        /* display: inline-block; */
    }
}

@media (max-width: 840px) {

}